<div class="col-md-12">
  <h1></h1>
  <% @courses.each do |course| %>
      <h3><%= course_name(course[1][0].id) %></h3>
      <ul>
        <% course.each do |section| %>
          <%= section %>
        <% end %>
      </ul>
  <% end %>
</div>